@model IEnumerable<OnlineCakeShop.Models.Contact>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.IsInRole("User, Administrator"))
{
 <p>
    <a asp-action="Create">Create New</a>
</p>   
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContactEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactMessage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContactEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactMessage)
            </td>
            <td>
                    @if (User.IsInRole("Administrator"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.ContactId">Edit</a> 
                    }
                    @if (User.IsInRole("Administrator"))
                    {
                        <a asp-action="Details" asp-route-id="@item.ContactId">Details</a> 
                    }
                    @if (User.IsInRole("Administrator"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.ContactId">Delete</a>
                    }
                    
            </td>
        </tr>
}
    </tbody>
</table>
